:root
{
    --primary-color:linear-gradient(40deg,purple,crimson);
    --secondary-color:#ccc;
    --light-color:#fff;
    --dark-color:#333;
    --facebook:linear-gradient(40deg,rgb(31, 31, 196),rgba(0,0,255,0.5));
    --google:#fff;
    --max-width:1000px;
    --animation-speed:0.5s;
}

/* Default Settings */
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:1.5;
}

a
{
    text-decoration:none;
    color:#bbb;
}

h1,h2,h3,h4,h5,h6
{
    padding-bottom:0.6rem;
}

label
{
    display:block;
}

input[type="text"], 
input[type="password"]
{
    width:100%;
}

/* Utilities */
.btn
{
    display:inline-block;
    padding:0.8rem 1rem;
    margin-top:0.6rem;
    border:none;
    cursor:pointer;
    text-align:center;
    transition:background var(--animation-speed) ease;
}
.btn-primary
{
    background:var(--primary-color);
    color:var(--light-color);
}
.btn-google
{
    background:var(--google);
    color:var(--light-color);
}
.btn-facebook
{
    background:var(--facebook);
    color:var(--light-color);
}
.btn-primary
{
    background:var(--primary-color);
    color:var(--light-color);
}
.btn-light
{
    background:var(--light-color);
    color:var(--dark-color);
}
.btn-long
{
    display:block;
    width:100%;
}

.light
{
    color:#fff;
}
.secondary
{
    color:#bbb;
}
.dark
{
    color:#333;
    
}

.container
{
    max-width:var(--max-width);
    margin:auto;

}

.logo
{
    font-size:2rem;
    text-shadow:1px 1px 12px purple;
}

.lead
{
    font-size:1.2rem;
}

/* Login Form */
#login
{
    background:var(--primary-color);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

}

#login .container
{
    /* padding:0.6rem 1rem; */
    background:var(--light-color);
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:2rem;
    flex:1;
    box-shadow:5px 5px 15px rgb(99, 95, 95);
}

#login .container .login-content
{
    padding:2rem;
}

#login .container .login-content1 .logo
{
    margin-bottom:2rem;
}

#login .container .login-content1 .lead
{
    padding-bottom:1rem;
}

#login .container .login-content2 .lead
{
    color:var(--light-color);
    padding-bottom:1rem;
}

#login .container .login-content2 
{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:var(--secondary-color);
}

#login .container .login-content .form-grp
{
    margin-top:2rem;
    
}

#login .container .login-content input[type="text"],
#login .container .login-content input[type="password"]
{
    border:none;
    border-bottom:2px solid #bbb;
    padding:0.5rem 0.5rem;
    transition:border var(--animation-speed) ease;
}

#login .container .login-content input[type="text"],
#login .container .login-content input[type="password"]:focus
{
    outline-width:0;
}

#login .container .login-content input[type="text"]:focus,
#login .container .login-content input[type="password"]:focus
{
    border-color:purple;
}

#login .container .login-content1 .btn
{
    margin-top:3rem;
}

#login .container .login-content2 .btn
{
    margin-top:1rem;
}

#login .container .login-content2 .btn i
{
    margin-right:2rem;
}


.btn:hover
{
    background-position:420px;
}
